@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}

body.modal-open {
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*section*/
/*.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .no-padding {
    padding-top: 0;
    padding-bottom: 94px;
  }
  */
.section-title {
  color: #212121;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
}

@media screen and (max-width: 1199px) {
  .section-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*logo*/
.logo,
.logo-dark,
.logo-white {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .logo,
  .logo-dark,
  .logo-white {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .logo,
  .logo-dark,
  .logo-white {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

.logo {
  color: #2196f3;
}

.logo-dark {
  color: #000000;
}

.logo-white {
  color: #ffffff;
}

.page-header {
  position: relative;
  display: block;
  border-bottom: 1px solid #ececec;
}

.page-header .menu {
  min-height: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .page-header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: 80px;
  }
}

.menu-button {
  position: absolute;
  top: 50%;
  right: 0;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  background-color: transparent;
  z-index: 900;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 80px;
    width: 100%;
  }
}

.mobile-menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  text-align: start;
  width: 100%;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    display: none;
    text-align: left;
    width: 100%;
  }
  .mobile-menu.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: start;
    padding: 20px;
    z-index: 1;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 300px;
  }
  .mobile-menu .nav-list .item + .item {
    margin-top: 32px;
  }
  .nav-list ul a {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #000000;
  }
  .nav-list ul a.current {
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    padding: 0;
  }
  .nav-list {
    margin-bottom: 0;
  }
  .nav-list .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
  .nav-list .site-nav .item {
    margin-bottom: 0;
  }
  .nav-list .site-nav .item + .item {
    margin-left: 50px;
  }
  .nav-list .site-nav .link {
    display: block;
    padding: 32px 0;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .current {
    color: #2196f3;
    position: relative;
  }
  .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .page-header .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .page-header .mobile-menu .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .page-header .mobile-menu .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
  .page-header .mobile-menu .item + .item {
    margin-left: 50px;
  }
  .page-header .mobile-menu .link {
    display: block;
    padding: 32px 0;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
  }
}

.page-header .site-nav .current {
  color: #2196f3;
  position: relative;
}

.page-header .site-nav .current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-left: auto;
    margin-bottom: 64px;
  }
  .header-contacts .item + .item {
    margin-bottom: 32px;
  }
  .header-contacts .item {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.02em;
  }
  .header-contacts .item .tel {
    font-size: 34px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-bottom: 0;
    padding: 0;
  }
  .header-contacts .item {
    font-size: 12px;
  }
  .header-contacts .item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
  .mobile-menu .header-contacts .item {
    font-size: 14px;
  }
  .mobile-menu .header-contacts .item + .item {
    margin-right: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header-contacts a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-contacts a.mail {
    color: #757575;
  }
  .header-contacts a.tel {
    color: #2196f3;
  }
  .header-contacts a svg {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #757575;
  }
  .header-contacts .info svg {
    display: block;
    fill: #757575;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #757575;
  }
  .header-contacts a svg {
    display: block;
    fill: #757575;
    margin-right: 10px;
  }
}

/* font-family: $main-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $main-text-color;
    transition: color $main-transition, fill $main-transition;
  
          &:hover,
          &:focus {
        color: $accent-color;
        fill: $accent-color;
          } */
.header-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #2196f3;
  padding-bottom: 48px;
}

.header-social__item a {
  display: block;
  padding: 0 10px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header-social__item:first-child a {
  padding-left: 0;
}

.header-social__item:not(:last-child) {
  border-right: 1px solid #2196f3;
}

@media screen and (min-width: 768px) {
  .header-social {
    display: none;
  }
}

.banner {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hero/Hero-img480_1х.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/Hero-img480_1х.jpg");
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hero/Hero-img480_2х.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/Hero-img480_2х.jpg");
  }
}

@media screen and (min-width: 768px) {
  .banner {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hero/Hero-img768_1х.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/Hero-img768_1х.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hero/Hero-img768_2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/Hero-img768_2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hero/hero-Img1200_1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero-Img1200_1x.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hero/hero-Img1200_2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero-Img1200_2x.jpg");
  }
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero-title {
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 26px;
  text-align: center;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn-order {
  display: block;
  border-radius: 4px;
  padding: 10px 32px;
  margin: 0 auto;
  height: 50px;
  width: 200px;
  text-align: center;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 90px 15px;
  z-index: 999;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

.backdrop .modal {
  display: block;
  position: relative;
  padding: 15px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) and (min-width: 480px) {
  .backdrop .modal {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop .modal {
    max-width: 528px;
  }
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
}

.modal-title {
  margin-top: 25px;
  margin-bottom: 12px;
  font-family: Roboto, sans-serif;
  font-weight: 700px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
}

@media screen and (max-width: 767px) {
  .form {
    max-width: 370px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .form {
    max-width: 448px;
  }
}

.form .form-field {
  margin-bottom: 10px;
}

.form .form-comment {
  margin-bottom: 20px;
}

.form .btn-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 40px;
  padding: 10px 55px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.label {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.label .form-info {
  display: block;
  position: relative;
}

.label .form-comment {
  margin-bottom: 20px;
}

.label .textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-top: 4px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #757575;
}

.label .textarea:focus-within {
  border: 1px solid #2196f3;
  outline: none;
}

.label .textarea::-webkit-input-placeholder {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.label .textarea:-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.label .textarea::-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.label .textarea::placeholder {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #212121;
}

.form-info:focus-within > .form-icon {
  fill: #2196f3;
}

.input {
  margin-top: 4px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  color: #757575;
}

.form-info:focus-within > .input {
  border: 1px solid #2196f3;
  outline: none;
}

.label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.label-checkbox .agree {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
  font-size: 12px;
  line-height: 1.17;
}

@media screen and (min-width: 768px) {
  .label-checkbox .agree {
    font-size: 14px;
    line-height: 1.71;
  }
}

.label-checkbox .checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.label-checkbox .agree-link {
  color: #2196f3;
  text-decoration: underline;
}

.agree-icon::before {
  content: '';
  top: 0;
  left: 0;
  display: block;
  margin-right: 9px;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  background-color: #ffffff;
}

.checkbox:checked + .agree-icon::before {
  content: '';
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url("../../images/checkbox/check.svg");
  background-size: contain;
  background-origin: border-box;
}

.checkbox:focus + .agree-icon::before {
  content: '';
  border-color: #2196f3;
}

.agree-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features .container {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
}

.features-list .item {
  display: block;
  width: 100%;
  margin: 15px;
  outline: 2px solid green;
}

@media screen and (min-width: 480px) {
  .features-list .item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .features-list .item {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list .item {
    width: 270px;
  }
}

@media screen and (max-width: 767) {
  .features-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.feature-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.feature-icon svg {
  margin-top: 25px;
  margin-bottom: 25px;
}

/*.item + .item {
  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
  }
}*/
.title {
  margin-top: 30px;
  margin-bottom: 0;
  text-align: left;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.item .text {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: left;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*.item + .item {
    margin-left: 30px;
  }*/
/*<!--чужой--> 

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    margin: -15px;

    // margin-right: -30px;
    // margin-bottom: -30px;
  }
}

.features__item {
  width: 100%;
  outline: 2px solid green;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    // width: calc((100% - 4 * 15px) / 2);
    margin: 15px;

    // margin-right: 30px;
    // margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.feat-icon-spec {
  @include centeredFlex();
  background-color: $button-background-color;
  margin-bottom: 30px;
  margin-top: 30px;
}

.feature-icon {
  margin-top: 25px;
  margin-bottom: 25px;
}

.feature-title {
  text-align: center;
  color: $color-dark;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  text-align: left;
  color: $color-grey;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
*/
@media screen and (max-width: 1199px) {
  .service {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section__works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section__works .item {
    display: block;
    position: relative;
  }
  .section__works .item + .item {
    margin-left: 30px;
  }
  .thumb {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .thumb .works-title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 27px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
}

.social .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  background-color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .container {
  display: block;
  padding: 60px 0;
  background-color: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .section__staff {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section__staff .list {
  display: block;
  width: 100%;
  margin: 15px;
  text-align: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

@media screen and (min-width: 480px) {
  .section__staff .list {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .section__staff .list {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .section__staff .list {
    width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .section__staff .list:not(:last-child) {
    margin-bottom: 30px;
  }
}

.card {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.position {
  padding: 30px 30px;
}

.position .team-member {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.position .profession-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*.team {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: $button-background-color;
    &__title {
        @extend %titles-mob;
    }
}

.team__sec {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;

        margin: -15px;

        // margin-right: -30px;
        // margin-bottom: -30px;
    }
}

.team__item {
    width: 100%;

    margin-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $main-background-color;

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.team__memb {
    color: $color-dark;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 30px;
}
.team__pstn {
    color: $color-grey;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 16px;
}
.team__social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.social-icon-link {
    width: 44px;
    height: 44px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: $icon-cur-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: $main-background-color;
        background-color: $accent-background-color;
    }
}
.team__icon {
    fill: currentColor;
}
.social-icon {
    display: inline-flex;
    &:not(:last-child) {
        margin-right: 10px;
    }
}
*/
.clients .contaier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 15px;
  outline: 1px solid red;
}

@media screen and (min-width: 480px) {
  .section__clients-list {
    margin: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  height: 90px;
  margin: 15px;
}

@media screen and (max-width: 479px) {
  .clients__item {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logotype:hover, .logotype:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

/* .clients {
    display: flex;
    width: 170px;
    height: 90px;
  }

  .clients + .clients {
    margin-left: 30px;
  }
}

.logotype {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid $icon-color;
  align-items: center;
  justify-content: center;
  fill: $icon-color;
  transition: border-color $main-transition, fill $main-transition;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    fill: $accent-color;
  }
}
*/
/*.clients {
    padding-top: 60px;
    padding-bottom: 60px;
    &__head {
        @extend %titles-mob;
    }
}

.clients__icon {
    @media screen and (min-width: 480px) {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc(100% / 2);
        justify-content: space-between;
    }
}

.clients__item {
    width: 210px;
    height: 90px;

    @media screen and (max-width: 479px) {
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 768px) {
        width: 226px;
    }

    @media screen and (min-width: 1200px) {
        width: 170px;
    }
}

.clients__item + .clients__item {
    @media screen and (max-width: 479px) {
        margin-top: 30px;
    }
}

.clients__link {
    @include centeredFlex();
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    fill: $icon-cur-color;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border: 1px solid $accent-background-color;
        fill: $accent-background-color;
    }
}

.clients__item:nth-child(-n + 4) {
    @media screen and (min-width: 480px) and (max-width: 767px) {
        margin-bottom: 30px;
    }
}

.clients__item:nth-child(-n + 3) {
    margin-bottom: 30px;
}  */
.footer {
  background-color: #2f303a;
  border: 1px solid #ececec;
}

.footer .container {
  display: block;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.container .footer__left {
  text-align: center;
  margin-bottom: 60px;
}

.container .footer__left a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container .footer__left {
    width: 50%;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .container .footer__left {
    width: 231px;
    text-align: left;
  }
}

.footer__right {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__right {
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__right {
    text-align: left;
    width: 206px;
    margin-left: 70px;
  }
}

.footer-address {
  margin-top: 20px;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .footer-address {
    text-align: left;
  }
}

.footer-contacts {
  margin-top: 9px;
  margin-bottom: 0;
}

.footer-contacts .item + .item {
  margin-top: 9px;
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    text-align: left;
  }
}

.footer-contacts a {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts a:hover, .footer-contacts a:focus {
  color: #2196f3;
}

.join-title {
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .join-title {
    text-align: left;
  }
}

.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join li + li {
  margin-left: 10px;
}

.join .social-link {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.join .social-link:hover,
.join .social-link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 0;
    padding: 0;
  }
}

.subscribe-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscribe-title {
    text-align: left;
  }
}

.footer__subscribe {
  display: block;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__subscribe {
    margin: 0 auto;
    margin-top: 60px;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscribe {
    display: block;
    text-align: left;
    margin-left: auto;
    width: 570px;
    height: 86px;
  }
}

.subscribe-info {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .subscribe-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*display: flex;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;*/
.input-email {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 16px;
  background-color: transparent;
  border: none;
  /*width: 358px;*/
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .input-email {
    width: 358px;
  }
}

.btn-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 10px 30px;
  margin-left: 12px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.btn-send svg {
  margin-left: 10px;
}

.input-email:focus {
  outline: none;
}

.input-email:focus::-webkit-input-placeholder {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.input-email:focus:-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.input-email:focus::-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.input-email:focus::placeholder {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.input-email:focus:focus-within + .input-email:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-email:focus:focus-within + .input-email:focus:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-email:focus:focus-within + .input-email:focus::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-email:focus:focus-within + .input-email:focus::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=main.css.map */