
@media screen and (min-width: $mobile) and (max-width: 767px) {
.header-contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
    margin-bottom: 64px;

    .item + .item {
      margin-bottom: 32px;
    }
   
   .item {
    font-family: $main-font;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    
      & .tel {
      font-size: 34px;
      line-height: 1.18;
      }
    }
  } 
 }
 
 @media screen and (min-width: $tablet) and (max-width: 1199px) {
  .header-contacts{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-bottom: 0;
  padding: 0;

    & .item {
      font-size: 12px;
    
          &:first-child {
           margin-bottom: 10px;
     }
   } 
  }
 }

@media screen and (min-width: $desktop) {
  .mobile-menu  .header-contacts{
   display: flex;
   align-items: center;
     margin-left: auto;
    
   & .item {
       font-size: 14px;
      }
   
  
   .item + .item{
    margin-right: 30px;
   }
  }
} 


@media screen and (min-width: $mobile) and (max-width: 767px) {

 .header-contacts a {
  display: flex;
  align-items: center;
 

  &.mail {
    
  color: $main-text-color;
  }

  &.tel {
    
    color: $accent-color;
  }

  svg {
    display: none;
     }
   } 
 } 


   @media screen and (min-width: $tablet) and (max-width: 1199px){

    .header-contacts .info {

     display: flex;
     align-items: center;
     
     color:  $main-text-color;

      svg {
        display: block;
        fill: $main-text-color;
        margin-right: 10px;  
        } 
     }
   }  
   
   @media screen and (min-width: $desktop) {
    .header-contacts a {
      display: flex;
      align-items: center;
      font-size: 14px;
      padding-top: 32px;
      padding-bottom: 32px;

      color:  $main-text-color;

       svg {
        display: block;
        fill: $main-text-color;
        margin-right: 10px;  
        } 
      }

    }
   


 
 

     


  



  
    /* font-family: $main-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $main-text-color;
    transition: color $main-transition, fill $main-transition;
  
          &:hover,
          &:focus {
        color: $accent-color;
        fill: $accent-color;
          } */
  