.modal-title {
  margin-top: 25px;
  margin-bottom: 12px;
  font-family: $main-font;
  font-weight: 700px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: $title-text-color;
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;

  @media screen and (max-width: 767px) {
    max-width: 370px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    max-width: 448px;
  }

  .form-field {
    margin-bottom: 10px;
  }

  .form-comment {
    margin-bottom: 20px;
  }

  .btn-submit {
    display: flex;
    align-self: center;
    margin-bottom: 40px;
    padding: 10px 55px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700px;
    font-size: 16px;
    line-height: 1.88;
    color: $light-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

.label {
  font-family: $main-font;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $main-text-color;

  .form-info {
    display: block;
    position: relative;
  }

  .form-comment {
    margin-bottom: 20px;
  }

  .textarea {
    height: 120px;
    padding: 12px 16px;
    resize: none;
    margin-top: 4px;
    width: 100%;
    border: 1px solid $input-border-color;
    border-radius: 4px;
    color: $main-text-color;

    &:focus-within {
      border: 1px solid $accent-color;
      outline: none;
    }

    &::placeholder {
      font-family: $main-font;
      font-weight: normal;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: $textarea-ph-color;
    }
  }
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  fill: $title-text-color;

  .form-info:focus-within > & {
    fill: $accent-color;
  }
}

.input {
  margin-top: 4px;
  width: 100%;
  border: 1px solid $input-border-color;
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  color: $main-text-color;

  .form-info:focus-within > & {
    border: 1px solid $accent-color;
    outline: none;
  }
}

.label-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .agree {
    position: relative;
    display: flex;
    margin-left: 12px;
    align-items: center;
    font-family: $main-font;
    letter-spacing: 0.03em;
    color: $main-text-color;
    font-size: 12px;
    line-height: 1.17;

    @media screen and (min-width: $tablet) {
      font-size: 14px;
      line-height: 1.71;
    }
  }
  .checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .agree-link {
    color: $accent-color;
    text-decoration: underline;
  }
}

.agree-icon::before {
  content: '';
  top: 0;
  left: 0;
  display: block;
  margin-right: 9px;
  width: 16px;
  height: 15px;
  border: 2px solid $dark-color;
  border-radius: 2px;
  background-color: $light-color;

  .checkbox:checked + & {
    content: '';
    border-color: $accent-color;
    background-color: $accent-color;
    background-image: url('../../images/checkbox/check.svg');
    background-size: contain;
    background-origin: border-box;
  }

  .checkbox:focus + & {
    content: '';
    border-color: $accent-color;
  }
}

.agree-text {
  display: flex;
}
